<form [formGroup]="form" (ngSubmit)="operar()" #frmAutor="ngForm">

  <mat-tab-group>

    <mat-tab label="Datos Del Autor">
      <div class="container">

        <mat-form-field>
          <input matInput placeholder="Nombres" formControlName="nombres">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Apellidos" formControlName="apellidos">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="DNI" formControlName="dni">
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento" formControlName="fecha_nac">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="frmAutor.invalid">Registrar</button>
      </div>
    </mat-tab>




